body {
    background-color: #9ABFFF;
    font-family: sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 50pt;
    text-align: center;
}

#content {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    border-top: black 1pt solid;
    border-bottom: black 1pt solid; 
    border-right: black 1pt solid;
    border-left: black 1pt solid;
    display: grid;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 20%;
    padding-left: 20%;
}

#information {
    margin-top: 20px;
}